$color-schemes: 'dark' #000 #eee, 'light' #deddda #2a2a2a;

@each $color-scheme-name, $bg-color, $text-color in $color-schemes {
    #panel.transparent-top-bar-#{$color-scheme-name} {
        .panel-button {
            color: $text-color;
        }
    }

    #panel.transparent-top-bar-#{$color-scheme-name}:overview {
        .panel-button {
            color: #eee;
        }
    }

    @for $i from 0 through 100 {
        $opacity: calc($i / 100);

        #panel.transparent-top-bar-#{$color-scheme-name}-#{$i} {
            background-color: rgba($bg-color, $opacity);
        }

        #panel.transparent-top-bar-#{$color-scheme-name}-#{$i}:overview {
            background-color: rgba($bg-color, 0);
        }
    }
}

#panel.transparent-top-bar {
    transition-duration: 250ms;

    .panel-corner {
        transition-duration: 250ms;
    }

    .panel-button {
        transition-duration: 250ms;
    }
}
